<?php
$title = 'My Activities';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Activity_ID</th>
        <th>Identifier</th>
    </tr>
    <?php foreach ($activities as $activity) : ?>
        <tr>
            <td><?php echo $this->escapeHtml($activity->id);?></td>
            <td><?php echo $this->escapeHtml($activity->name);?></td>
            <td><?php echo $this->escapeHtml($activity->activity_id);?></td>
            <td><?php echo $this->escapeHtml($activity->identifier);?></td>
        </tr>
    <?php endforeach; ?>
</table>