<?php
$title = 'Doctrine Test';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    <?php foreach ($tests as $test) : ?>
        <tr>
            <td><?php echo $this->escapeHtml($test->getId());?></td>
            <td><?php echo $this->escapeHtml($test->getName());?></td>
        </tr>
    <?php endforeach; ?>
</table>